<% if !member.nil? %>
    <div class="col-6 member_group">
        <div class="span4">
            <div class="content-heading  mt-5">
                <%= image_tag member.avatar_thumbnail , style: 'height:60px;width:60px;float:left;' %>
                <p style="font-size:15px;"><%= member.email %></p>
                <%= link_to 'remove', 
      { :controller => 'groups', :action => 'removemember', :id => member.id  , :group => group}, 
      { :confirm => 'Are you sure?', :method => :delete, :remote => true ,:class => "delete_member_group"}  %>
            </div>
        </div>
    </div>
<% end %>