<div class="container flex-grow-1">
    <h1 class="text-center fw-bold">Gathering Orders is now easy !</h1>
    <div class="row mt-0">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset style="max-width: 100%; margin-bottom: 50px;" class="col-lg-7">
                        <h3 style="text-align:center">Latest Orders</h3>
                        <div class="panel panel-default">
                            <div class="panel-container panel-body" style="overflow-y: scroll;overflow-x: hidden; max-height: 240px;"></div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset style="max-width: 100%; margin-bottom: 50px;" class="col-lg-7">
                        <h3 style="text-align:center">Recent Activity</h3>
                        <div class="panel panel-default">
                            <div class="panel-container panel-body" style="overflow-y: scroll;overflow-x: hidden; max-height: 240px;">
                                <ul></ul>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div></div>
