<%= turbo_frame_tag "joined_friends" do %>
    <h3>Friends joining</h3>
    <ul class="list-group">
        <% @joined.each do |friend| %>
            <% if friend.id != current_user.id %> 
                <p class="list-group-item"><%= friend.full_name %></p>
            <% end %> 
        <% end %>
    </ul>
    <%= link_to "back", order_path , "data-turbo-frame": "_top" %>
<% end %>