<div class="container flex-grow-1">
    <div class="mt-0">
        <h1 class="text-center fw-bold">New Order</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <% friends_arr = [] %>
            <% for friend in current_user.users %>
                <% friends_arr.push(friend.users) %>
            <% end %>
            <% groups_arr = [] %>
            <% for group in current_user.groups %>
                <% groups_arr.push(group) %>
            <% end %>
            <%= render "order_form", order: @order, friends: friends_arr, groups: groups_arr %> 
        </div>
    </div>
</div>