/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
html,
body {
  height: 100%;
}

#dropdownMenu1 {
  background: none;
  border: none;
  color: black;
}

#dropdownMenu1:hover {
  color: blue;
}

#dropdownMenu1:focus {
  outline: none;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background: #dfecff;
  color: #313747;
}

.navbar {
  background: #fff;
  width: 100%;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.notification_dd {
  position: absolute;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 40%;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title #close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title #close:hover {
  opacity: 0.5;
}
.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}